<template>
    <el-container direction="vertical">
        <el-main class="m-5">
            <router-view/>
        </el-main>
    </el-container>
</template>
<script>
export default {
    name: 'MainApp',
}
</script>
<style></style>
