<template>
    <div class="text-center">
        <store-oil-stat @success="fetch()"/>

        <el-date-picker
            v-model="form.date_range"
            format="dd/MM/yyyy"
            value-format="dd/MM/yyyy"
            type="daterange"
            class="my-4 float-right"
            @change="fetch()"
        />

        <table v-loading="loading" class="table">
            <thead>
            <tr>
                <th scope="col">{{ $t('data') }}</th>
                <th scope="col">{{ $t('sum_fact_qliq') }}</th>
                <th scope="col">{{ $t('sum_fact_qoil') }}</th>
                <th scope="col">{{ $t('sum_forecast_qliq') }}</th>
                <th scope="col">{{ $t('sum_forecast_qoil') }}</th>
            </tr>
            </thead>

            <tbody v-show="!loading">
            <tr v-for="key in keys" :key="key">
                <td>{{ $t(key) }}</td>
                <td>{{ sum[`sum_fact_qliq_${key}`] || 0 }}</td>
                <td>{{ sum[`sum_fact_qoil_${key}`] || 0 }}</td>
                <td>{{ sum[`sum_forecast_qliq_${key}`] || 0 }}</td>
                <td>{{ sum[`sum_forecast_qoil_${key}`] || 0 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import StoreOilStat from "./StoreOilStat";

import {fetchMixin} from "../../mixins/fetch/fetchMixin";

import {OilModel} from "../../models/OilModel";

export default {
    name: 'IndexOilStat',
    components: {
        StoreOilStat,
    },
    mixins: [
        fetchMixin,
    ],
    data: () => ({
        form: {
            date_range: []
        },
        sum: new OilModel().sum,
        keys: []
    }),
    computed: {
        url() {
            return OilModel.URL
        },
    },
    created() {
        this.fetch()
    },
    methods: {
        async fetch() {
            this.sum = new OilModel().sum

            const {sum, keys} = await this.fetchData(this.url, this.form)

            this.sum = sum

            this.keys = keys
        }
    }
}
</script>

<style scoped></style>
