<template>
    <div class="custom-file">
        <input id="upload" type="file" ref="upload" @change="upload"/>

        <label for="upload" class="custom-file-label">
            {{ loading ? $t('main-words.loading') : $t('main-words.select-file') }}
        </label>
    </div>
</template>

<script>

import {sendMixin} from "../../mixins/send/sendMixin";

import {OilModel} from "../../models/OilModel";

export default {
    name: 'StoreOilStat',
    mixins: [
        sendMixin
    ],
    methods: {
        async upload(event) {
            let files = event.target.files;

            if (!files.length) return

            let form = new FormData()

            form.append('upload', files[0])

            try {
                await this.sendData(OilModel.URL, 'post', form)

                this.$emit('success')
            } catch (e) {
                console.log(e)
            }

            this.$refs.upload.value = null;
        },
    },
}
</script>

<style scoped></style>
